  * {
      font-family: sans-serif;
      line-height: 1.618em;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  html {
      font-size: 16px;
      margin-top: 3em;
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-image: linear-gradient(white, rgb(186, 207, 245));
  }
  /* ****  CONTAINER  **** */
  
  .container {
      align-items: center;
      height: 20rem;
      color: gray;
      margin: 20px;
      border: 10px;
      padding: 0;
  }
  
  header,
  .container {
      margin: 0 auto;
      max-width: 1000px;
  }
  /* ****  NAV BAR  **** */
  
  nav {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: left;
      background-color: #333;
      color: white;
  }
  
  nav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  nav a:hover {
      background-color: cornflowerblue;
      font-weight: bold;
      color: white;
  }
  /*  ****  HEADER **** */
  
  header {
      font-size: 2em;
      color: cornflowerblue;
      padding: 1.6em 0;
  }
  
  header span {
      font-size: 1em;
      color: gray;
  }
  
  section {
      margin: 1em;
      padding-top: 3em;
      min-height: 20em;
  }
  
  section ul {
      padding-left: 1.5em;
  }
  
  p {
      margin-top: 0;
      text-align: justify;
      flex-grow: 1;
      margin: 5px;
  }
  
  article img,
  p {
      max-width: 90%;
  }
  /* ****  ABOUT ME SECTION  **** */
  
  .About_Me {
      display: grid;
      grid-template-columns: 2, 50%;
      grid-template-rows: 2;
      padding: 10px;
  }
  
  .About_Me img {
      float: left;
      margin-right: 30px;
      clear: both;
  }
  
  .About_Me p {
      margin-left: 0px;
      overflow: auto;
      display: block;
  }
  /* Contact me links */
  
  .buttons a {
      float: left;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      padding: 10px;
  }
  
  .buttons a:hover {
      font-weight: bold;
      color: cornflowerblue;
  }
  
  .buttons a.active {
      font-weight: bold;
      color: blueviolet;
  }
  /* ****  PROJECTS SECTION  **** */
  
  .Projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .project_item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 2rem auto;
      padding: 10px;
      max-width: 30%;
      /* max-height: 500px;*/
  }
  
  .project_item a {
      text-decoration: none;
      color: #333;
  }
  
  .project_item a:hover {
      font-weight: bold;
      color: cornflowerblue;
  }
  /* ****  FOOTER  **** */
  
  footer {
      margin: 0 auto;
      margin-top: 2em;
      margin-bottom: 1em;
      width: 100%;
      color: cornflowerblue;
      padding: 1em;
      text-align: center;
  }