  * {
      font-family: sans-serif;
      line-height: 1.618em;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  /* ****  CONTAINER  **** */
  
  .container {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 20rem;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      color: gray;
      margin: 20px;
      margin-top: 70px;
      border: 10px;
      padding: 0;
  }
  /* ****  NAV BAR  **** */
  
  .nav {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: left;
      background-color: #333;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }
  /* Style the links inside the navigation bar */
  
  .nav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
  }
  /* Change the color of links on hover */
  
  .nav a:hover {
      background-color: cornflowerblue;
      font-weight: bold;
      color: white;
  }
  /* Add a color to the active/current link */
  
  .nav a.active {
      background-color: #4CAF50;
      color: white;
  }
  /*  ****  Main Header  **** */
  
  .main_header {
      font-family: Arial, Helvetica, sans-serif;
      color: cornflowerblue;
      justify-content: center;
  }
  /* ****  ABOUT ME SECTION  **** */
  
  .About_Me {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
  }
  
  p {
      margin-top: 0;
      text-align: justify;
      flex-grow: 1;
      margin: 5px;
  }
  
  .about_me_item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      border: 10px;
      max-width: 30%;
  }
  
  .about_me_item img {
      display: flex;
      flex-direction: column;
      max-height: 300px;
      padding: 10px;
      border: 10px;
  }
  
  .about_me_item h3 {
      max-height: 30px;
  }
  
  .skills,
  .contact {
      display: flex;
      flex-direction: column;
  }
  /* Contact me links */
  
  .buttons a {
      float: left;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      max-width: 70px;
      max-height: 30px;
      justify-content: space-evenly;
  }
  /* Change the color of links on hover */
  
  .about_me_item a:hover {
      font-weight: bold;
      color: cornflowerblue;
  }
  /* Add a color to the active/current link */
  
  .about_me_item a.active {
      font-weight: bold;
      color: blueviolet;
  }
  /* ****  PROJECTS SECTION  **** */
  
  .Projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .project_item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 2rem auto;
      padding: 10px;
      max-width: 30%;
      /* max-height: 500px;*/
  }
  
  article img,
  p {
      max-width: 90%;
  }
  
  .project_item a {
      text-decoration: none;
      color: #333;
  }
  
  .project_item a:hover {
      font-weight: bold;
      color: cornflowerblue;
  }
  /* ****  FOOTER  **** */
  
  footer {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
  }