html {
    margin: auto;
    padding: 0;
}

h1 {
    color: whitesmoke;
}

nav {
    display: inline;
    color: tomato;
}

body {
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: whitesmoke;
    background: black url(../images/VS-code-skewed2.png) no-repeat bottom right;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    text-align: justify;
}

article {
    display: flex;
    justify-content: space-between;
}